<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <img class="img-thumbnail rounded-circle" width="200" src="img/misbah.jpg" alt="misbah">
            <h1 class="mt-3">MISBAHUL KHOIR</h1>
            <h4>Student | Programming</h4>
        </div>
    </div>
</div>