.container1{
	width: 500px;
	border: 1px solid grey;
	margin: 30px auto;
	padding: 5px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
}

.container2{
	width: 500px;
	border: 1px solid grey;
	margin: 30px auto;
	padding: 5px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row-reverse;
	/*row, row-reverse, column. column-revers*/
}

.container3{
	width: 500px;
	border: 1px solid grey;
	margin: 30px auto;
	padding: 5px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.container4{
	width: 500px;
	border: 1px solid grey;
	margin: 30px auto;
	padding: 5px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column-reverse;
}

.container1 div,
.container2 div,
.container3 div,
.container4 div{
	width: 100px;
	height: 100px;
	background-color: lightskyblue;
	margin:2px;
}

